
li {
    list-style: none;
    padding: 15px;
}

.session-column {
    background-color: rgba(86, 61, 124, .15);
    margin-top: 10px;
    margin-bottom: 10px;

}

.cinema-list {
    padding: 10px;
}

.cinema-container {
    padding: 10px;
}

.cinema-header {
    padding: 10px;
}

.session-list {
    padding: 10px;
}

.session {
    padding: 10px;
}